/**  VARIABLES **/
$vertsauge: #a2a76c;
$gris: #666570;
$coul-bg: white;
$color-header: #e5e5e5; 

/** GENERAL **/

* {box-sizing: border-box;}

img{ max-width: 100%; object-fit: cover;}

.container{
  width: 80%;
  padding: 0 5%;
  margin: 0 auto;
  /* Clearfix hack */
  &:after{
    clear: both;
    content: " ";
    display: block;
  }
}

html{
  font-size: 62.5%;
}

body{
  color: $vertsauge;
  font-size: 1.6rem;
  line-height: 1.5;
  background-color: $coul-bg;
}

a{
  text-decoration: none;
  color: $vertsauge;
}

hr{
  border: 1px solid $vertsauge;
}

#apropos, #home-staging, #temoignages, .contentreal {
  width: 80%;
  margin: 0 auto;

}

h1, h2{
  text-align: center;
}


/** HEADER **/

.logo{
  float: left;
  width: 100%;
  max-width: 180px;
  padding: 1rem 0;
  transition: all 0.2s;
  &:hover{
    opacity: 0.8;
  }
}

header{ background-color: $color-header; }

section{  margin: 0 auto; }

/** NAVIGATION **/



.main-nav{
  float: right;
  margin-right: 0.5em;
  padding-top:4.5em;
  position: relative;
  list-style: none;

  &__item{
    display: inline-block;
    }
  
  &__link{
   padding: 0.5em 1em;
   font-size: 1.3rem;
   text-transform: uppercase;
   font-weight: bold;

   &:hover{
    color: $gris;
    font-weight: bold;
    }
  }
}

/** BANNIERE **/

.banniere{
  background-color: $gris;

  &__slider{
    background-image: url(../images/banniere-unsplash.jpg);
    background-repeat: no-repeat;
    max-width: 100%;
    height: 400px;
    display: block;
    text-indent: -33333px;
    background-size: cover;
  }
  &__infolettre{
    color:$coul-bg;
    text-align: center;
  }
  }


  /** À PROPOS **/
#apropos{
  margin-bottom: 50px;
}
.content{  
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;

    &__servicesChild{
        background-color: $gris;
        width: 30%; 
        color: $coul-bg;
        text-align: center;
        padding: 20px;        
        }
    &__serviceImg{
        background-color: $gris;
        border-radius: 100px;
        width: 50%;
        }
    }

  /** RÉALISATION **/
  #realisations{
    background-color: $vertsauge;
    }

.contentreal{
      padding:10px 0px 50px 0px;
    }

    
  .contentreal h1{
    color: $coul-bg;

  }

  .gallerie {
    display: grid;
    grid-template-columns: repeat(5, minmax(150px, 1fr));
    grid-template-rows: repeat(4, 150px);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    grid-auto-flow: row;
    grid-auto-rows: minmax(150px, auto);

    &__1{ 
      grid-area: 2 / 1 / 4 / 2; 
      background-color: chocolate;

      &--img1{
      aspect-ratio: 1 / 1;
    }
    }
    &__2 { grid-area: 1 / 2 / 3 / 4; background-color: blueviolet;
      &--img2{
        aspect-ratio: 18/9;
      }
    }
    &__3 { grid-area: 2 / 4 / 3 / 5; background-color: cornflowerblue;
      &--img3{
        aspect-ratio: 18/9;
      }}
    &__4 { grid-area: 3 / 2 / 4 / 3; background-color: darkred;}
    &__5 { grid-area: 3 / 3 / 5 / 5; background-color: darksalmon;}
    &__6 { 
      grid-area: 2 / 5 / 4 / 6; background-color: green;
      &--img6{
        aspect-ratio: 1 / 1;
      }
    }
   

    }
    
    
    
  


/** HOME STAGING **/
.Staging{

  &__stats{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: flex-start;
  }
  &__content{
    padding-top:40px;
  }
}

.button-more{
  background-color: $vertsauge;
  color: $coul-bg;
  padding: 20px;
}


/** TÉMOIGNAGES **/
.clientsSatisfaits{
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  margin-bottom: 40px;
  color:$coul-bg;

  &__card{
    padding: 20px;
    background-color: $gris;
    margin-right:10px;
}
  &__img{
    border-radius: 50%;
  }
  &__title{
    font-weight: bold;
  }
  &__desc{
      
  }
  &__list{
    display: flex;
    justify-content: flex-start;
    padding: 0;
    list-style: none;
  }
  &__item{
    margin-right: 10px;

      &--Facebook {
        background-image: url(../images/facebook.png);
        width: 20px;
        height: 20px;
        background-repeat: no-repeat;
        text-indent: -33333px;
        background-size: contain;
    }
    &--Linkedin {
      background-image: url(../images/linkedin.png);
      width: 20px;
      height: 20px;
      background-repeat: no-repeat;
      text-indent: -33333px;
      background-size: contain;
  }
  &--Insta {
    background-image: url(../images/instagram.png);
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    text-indent: -33333px;
    background-size: contain;
}
  }


}

#card_after{
  padding: 20px;
  border-right: none;
}


/** Nous Joindre **/
#nous-joindre{
  position: relative;
}


.form-space{
  background-color: $vertsauge;
  color: $coul-bg;
  padding: 20px;
  position: absolute;
  right: 40px;
  top: 40px;
  width:600px;
}


/** FOOTER **/

footer{
  background-color: $gris;
  padding: 2rem 0;
}

.menu-secondary{
    text-transform: inherit;
    
    &__list{
        float: right;
  }

    &__item{
        text-transform: inherit;
        display: inline-block;
        font-size: 1.3rem;
        padding-left:10px;
      }
    &__link{
        color:$coul-bg;
        &:hover{
          color: $vertsauge;
        }
      }
    
  }



.mediasocial{  

    &__item{
        display: inline-block;
        list-style: none;

        &--Facebook {
          background-image: url(../images/facebook.png);
          width: 20px;
          height: 20px;
          background-repeat: no-repeat;
          text-indent: -33333px;
          background-size: contain;
      }
      &--Linkedin {
        background-image: url(../images/linkedin.png);
        width: 20px;
        height: 20px;
        background-repeat: no-repeat;
        text-indent: -33333px;
        background-size: contain;
    }
    &--Twitter {
      background-image: url(../images/twitter.png);
      width: 20px;
      height: 20px;
      background-repeat: no-repeat;
      text-indent: -33333px;
      background-size: contain;
  }
  &--Youtube {
    background-image: url(../images/youtube.png);
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    text-indent: -33333px;
    background-size: contain;
}
      }
  }

  .sourceFooter-1{
    height: 98px;
  }
  
  .sourceFooter-2{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  



footer .logo{
  padding: 0.5em 1em;
  max-width: 125px;
}

footer p{
  font-size: 1.2rem;
  color: $coul-bg;
  clear: both;
  text-align: center;
}