@charset "UTF-8";
/**  VARIABLES **/
/** GENERAL **/
* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  object-fit: cover;
}

.container {
  width: 80%;
  padding: 0 5%;
  margin: 0 auto;
  /* Clearfix hack */
}
.container:after {
  clear: both;
  content: " ";
  display: block;
}

html {
  font-size: 62.5%;
}

body {
  color: #a2a76c;
  font-size: 1.6rem;
  line-height: 1.5;
  background-color: white;
}

a {
  text-decoration: none;
  color: #a2a76c;
}

hr {
  border: 1px solid #a2a76c;
}

#apropos, #home-staging, #temoignages, .contentreal {
  width: 80%;
  margin: 0 auto;
}

h1, h2 {
  text-align: center;
}

/** HEADER **/
.logo {
  float: left;
  width: 100%;
  max-width: 180px;
  padding: 1rem 0;
  transition: all 0.2s;
}
.logo:hover {
  opacity: 0.8;
}

header {
  background-color: #e5e5e5;
}

section {
  margin: 0 auto;
}

/** NAVIGATION **/
.main-nav {
  float: right;
  margin-right: 0.5em;
  padding-top: 4.5em;
  position: relative;
  list-style: none;
}
.main-nav__item {
  display: inline-block;
}
.main-nav__link {
  padding: 0.5em 1em;
  font-size: 1.3rem;
  text-transform: uppercase;
  font-weight: bold;
}
.main-nav__link:hover {
  color: #666570;
  font-weight: bold;
}

/** BANNIERE **/
.banniere {
  background-color: #666570;
}
.banniere__slider {
  background-image: url(../images/banniere-unsplash.jpg);
  background-repeat: no-repeat;
  max-width: 100%;
  height: 400px;
  display: block;
  text-indent: -33333px;
  background-size: cover;
}
.banniere__infolettre {
  color: white;
  text-align: center;
}

/** À PROPOS **/
#apropos {
  margin-bottom: 50px;
}

.content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}
.content__servicesChild {
  background-color: #666570;
  width: 30%;
  color: white;
  text-align: center;
  padding: 20px;
}
.content__serviceImg {
  background-color: #666570;
  border-radius: 100px;
  width: 50%;
}

/** RÉALISATION **/
#realisations {
  background-color: #a2a76c;
}

.contentreal {
  padding: 10px 0px 50px 0px;
}

.contentreal h1 {
  color: white;
}

.gallerie {
  display: grid;
  grid-template-columns: repeat(5, minmax(150px, 1fr));
  grid-template-rows: repeat(4, 150px);
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  grid-auto-flow: row;
  grid-auto-rows: minmax(150px, auto);
}
.gallerie__1 {
  grid-area: 2/1/4/2;
  background-color: chocolate;
}
.gallerie__1--img1 {
  aspect-ratio: 1/1;
}
.gallerie__2 {
  grid-area: 1/2/3/4;
  background-color: blueviolet;
}
.gallerie__2--img2 {
  aspect-ratio: 18/9;
}
.gallerie__3 {
  grid-area: 2/4/3/5;
  background-color: cornflowerblue;
}
.gallerie__3--img3 {
  aspect-ratio: 18/9;
}
.gallerie__4 {
  grid-area: 3/2/4/3;
  background-color: darkred;
}
.gallerie__5 {
  grid-area: 3/3/5/5;
  background-color: darksalmon;
}
.gallerie__6 {
  grid-area: 2/5/4/6;
  background-color: green;
}
.gallerie__6--img6 {
  aspect-ratio: 1/1;
}

/** HOME STAGING **/
.Staging__stats {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: flex-start;
}
.Staging__content {
  padding-top: 40px;
}

.button-more {
  background-color: #a2a76c;
  color: white;
  padding: 20px;
}

/** TÉMOIGNAGES **/
.clientsSatisfaits {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  margin-bottom: 40px;
  color: white;
}
.clientsSatisfaits__card {
  padding: 20px;
  background-color: #666570;
  margin-right: 10px;
}
.clientsSatisfaits__img {
  border-radius: 50%;
}
.clientsSatisfaits__title {
  font-weight: bold;
}
.clientsSatisfaits__list {
  display: flex;
  justify-content: flex-start;
  padding: 0;
  list-style: none;
}
.clientsSatisfaits__item {
  margin-right: 10px;
}
.clientsSatisfaits__item--Facebook {
  background-image: url(../images/facebook.png);
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  text-indent: -33333px;
  background-size: contain;
}
.clientsSatisfaits__item--Linkedin {
  background-image: url(../images/linkedin.png);
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  text-indent: -33333px;
  background-size: contain;
}
.clientsSatisfaits__item--Insta {
  background-image: url(../images/instagram.png);
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  text-indent: -33333px;
  background-size: contain;
}

#card_after {
  padding: 20px;
  border-right: none;
}

/** Nous Joindre **/
#nous-joindre {
  position: relative;
}

.form-space {
  background-color: #a2a76c;
  color: white;
  padding: 20px;
  position: absolute;
  right: 40px;
  top: 40px;
  width: 600px;
}

/** FOOTER **/
footer {
  background-color: #666570;
  padding: 2rem 0;
}

.menu-secondary {
  text-transform: inherit;
}
.menu-secondary__list {
  float: right;
}
.menu-secondary__item {
  text-transform: inherit;
  display: inline-block;
  font-size: 1.3rem;
  padding-left: 10px;
}
.menu-secondary__link {
  color: white;
}
.menu-secondary__link:hover {
  color: #a2a76c;
}

.mediasocial__item {
  display: inline-block;
  list-style: none;
}
.mediasocial__item--Facebook {
  background-image: url(../images/facebook.png);
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  text-indent: -33333px;
  background-size: contain;
}
.mediasocial__item--Linkedin {
  background-image: url(../images/linkedin.png);
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  text-indent: -33333px;
  background-size: contain;
}
.mediasocial__item--Twitter {
  background-image: url(../images/twitter.png);
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  text-indent: -33333px;
  background-size: contain;
}
.mediasocial__item--Youtube {
  background-image: url(../images/youtube.png);
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  text-indent: -33333px;
  background-size: contain;
}

.sourceFooter-1 {
  height: 98px;
}

.sourceFooter-2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

footer .logo {
  padding: 0.5em 1em;
  max-width: 125px;
}

footer p {
  font-size: 1.2rem;
  color: white;
  clear: both;
  text-align: center;
}/*# sourceMappingURL=style.css.map */